@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");

body {
    font-family: "Mitr", sans-serif;
}

#Title {
    display: flex;
    font-size: 3vw;
    margin-bottom: 2rem;
    margin-top: 0rem;
    text-shadow: 0 0 3px #000000, 0 0 30px #e2fb02;
    justify-content: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("./img/bar.jpg");
    background-size: 100% 100%;

}

.Enter_box{
    width: 28vw;
    background-color: wheat;
    border-radius: 10px;
    padding: 3rem 2rem;
    box-shadow: 0px 0px 10px 3px rgb(238, 246, 3);
    border: solid tomato 3px;

}

.Enter_box .name-box{
    width: 100%;
    height: 8vh;
    margin: 2vh 0;
    margin-bottom: 2.5rem;
}

.name-box input{
    width: 100%;
    height:100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rosybrown;
    border-radius: 40px;
    font-size: 1.7rem;
    padding-left: 1.4rem;
}

.name-box input::placeholder{
    color: rgb(180, 167, 167);
}

.name-box:hover{
    outline:  solid rgb(8, 247, 8) 3px;;
}

.name-box i{
    position: absolute;
    right: 4rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8rem;
}

.button-play{
    border-radius: 19px;
    background-color: rgb(29, 197, 13);
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1.8rem;
    cursor: pointer;
    width: 100%;
    height: 3rem;
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 40px;

    outline: none;
    box-shadow: 0 0 10px black;
    font-weight: 600;
    color: #ffffff;
}

.button-play:hover{
    border: solid rgb(8, 247, 8) 3px;
}